:root {
  --basic-yellow: #FAC62D;
  --basic-green: #64B851;
  --basic-red: #EB4B51;
  --basic-blue: #2794DB;
  --basic_black: #383736;
  --basic-gray: #989691;
  --basic-bg-white: #FFFFFF;
  --basic-bg-gray: #E5E5E5;
  --special-bg-green: #F2FAF0;
  --special-bg-red: #FAF0F0;
  --special-shadow: #f5f5f5;
  --special-border: #F0EEEB;
  --special-yellow1: #F0B505;
  --special-yellow2: #E1AB08;
  --special-hf-gray: #F5F4F2;
  --special-active-gray: #E7E4DE;
}

/*Global*/

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h2,
h3,
p {
  margin: 0;
}

/*Page*/

.page {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-gray);
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}

.page__main {
  background-color: var(--basic-bg-gray);
  padding: 40px 8px;
}

@media (min-width: 768px) {
  .page__main {
    padding-top: 33px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 47px;
  }
}

@media (min-width: 920px) {
  .page__main {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .page__main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*Apartment-card*/

.apartment-card {
  background-color: var(--basic-bg-white);
  display: grid;
  box-shadow: 0px 2px 24px var(--special-shadow);
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media (min-width: 768px) {
  .apartment-card {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 28px;
  }
}

@media (min-width: 920px) {
  .apartment-card {
    grid-template-columns: 62.5% 36.5%;
    padding-left: 24px;
  }
}

@media (min-width: 1280px) {
  .apartment-card {
    grid-template-columns: 73.5% 26.5%;
  }
}

.apartment-card__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}

@media (min-width: 768px) {
  .apartment-card__wrapper {
    flex-direction: row;
    padding-bottom: 24px;
  }
}

@media (min-width: 920px) {
  .apartment-card__wrapper {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.apartment-card__img-drawing {
  align-self: center;
}

@media (min-width: 768px) {
  .apartment-card__img-drawing {
    align-self: flex-start;
  }
}

.apartment-card__button {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 28px;
  height: 28px;
  border: none;
  background-color: inherit;
  z-index: 1;
}

.apartment-card__img-cross {
  fill: var(--basic-gray);
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 2;
}

.apartment-card__img-cross:hover,
.apartment-card__img-cross:focus {
  fill: var(--basic-black);
}

.apartment-card__button:hover,
.apartment-card__button:focus {
  background-color: var(--special-hf-gray);
}

.apartment-card__button:active {
  background-color: var(--special-active-gray);
}

/*Params*/

@media (min-width: 768px) {
  .params {
    padding-left: 32px;
  }
}

.params__list {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 52px;
}

@media (min-width: 1280px) {
  .params__list {
    grid-template-columns: max-content max-content max-content;
    column-gap: 50px;
  }
}

.params__name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: var(--basic_black);
  padding-bottom: 16px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .params__name {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 8px;
    padding-top: 0;
  }
}

.params__item {
  padding-bottom: 12px;
}

@media (min-width: 1280px) {
  .params__item:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
  }
}

.params__title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.params__value {
  font-weight: 500;
  color: var(--basic_black);
}

.params__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 6px;
}

@media (min-width: 768px) {
  .params__wrapper {
    flex-direction: row;
    gap: 16px;
    padding-top: 8px;
  }
}

@media (min-width: 920px) {
  .params__wrapper {
    gap: 10px;
  }
}

@media (min-width: 1280px) {
  .params__wrapper {
    gap: 16px;
  }
}

.params__view {
  color: var(--basic-green);
  background-color: var(--special-bg-green);
}

.params__accreditation {
  background-color: var(--special-bg-red);
  color: var(--basic-red);
}

.params__accreditation,
.params__view {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 36px;
  display: inline-block;
  border-radius: 22px;
  position: relative;
}

.params__accreditation::before,
.params__view::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 12px;
}

.params__accreditation::before {
  background-image: url("../img/svg/Icon-cross.svg");
}

.params__view::before {
  background-image: url("../img/svg/Icon-check.svg");
}

/*Purchase*/

.purchase {
  display: grid;
  row-gap: 16px;
  padding-top: 20px;
  border-top: 1px solid var(--special-border);
}

@media (min-width: 768px) {
  .purchase {
    padding-top: 24px;
    padding-right: 4px;
    padding-left: 8px;
    row-gap: 24px;
  }
}

@media (min-width: 920px) {
  .purchase {
    padding-left: 32px;
    padding-top: 0;
    padding-right: 0;
    border-top: none;
    border-left: 1px solid var(--special-border);
  }
}

.purchase__text p:first-child {
  padding-bottom: 14px;
}

.purchase__booking-date {
  font-weight: 500;
  color: var(--basic-blue);
}

.purchase__booking-price {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: var(--basic_black);
}

@media (min-width: 768px) {
  .purchase__booking-price {
    font-size: 24px;
    line-height: 36px;
  }
}

.purchase__developer-price {
  font-weight: 500;
  color: var(--basic-red);
}

.purchase__button {
  font-weight: 500;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  background-color: var(--basic-yellow);
  color: var(--basic_black);
  border-radius: 6px;
}

.purchase__button:hover,
.purchase__button:focus {
  background-color: var(--special-yellow1);
}

.purchase__button:active {
  background-color: var(--special-yellow2);
}

@media (min-width: 920px) {
  .purchase__button {
    align-self: end;
  }
}

.purchase__button img {
  padding-right: 8px;
}
